@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/********************************************* */
/* GLOBAL STYLES */
/******************************************** */
body {
  background-color: #37444e; }
  body.loading {
    display: flex;
    align-items: center;
    justify-content: center; }
  body .loader {
    position: absolute;
    z-index: 100; }
  body .reveal .slides {
    display: none; }

.reveal {
  font-size: 30px;
  font-family: OpenSans,HelveticaNeue,Arial,sans-serif;
  color: #37444e; }

::selection, ::-moz-selection {
  color: #fff;
  text-shadow: none; }

img {
  width: 100%;
  height: auto; }

.reveal {
  background: url("https://www.creative-workflow.berlin/images/logos/bg.png") repeat #f7f7f7; }
  .reveal .slides > section {
    line-height: 1.3;
    font-weight: inherit; }
    .reveal .slides > section > section {
      line-height: 1.3;
      font-weight: inherit; }
    .reveal .slides > section section {
      padding-top: 0 !important; }
      .reveal .slides > section section.with-image {
        top: 50px !important;
        font-size: 20px; }
        .reveal .slides > section section.with-image h1 {
          font-size: 1.55em; }
        .reveal .slides > section section.with-image h2 {
          font-size: 1em; }
        .reveal .slides > section section.with-image h3 {
          font-size: 1em; }
        .reveal .slides > section section.with-image h4 {
          font-size: 1em; }
        .reveal .slides > section section.with-image img {
          max-width: 70%;
          cursor: pointer; }
    .reveal .slides > section h1, .reveal .slides > section h2, .reveal .slides > section h3, .reveal .slides > section h4, .reveal .slides > section h5, .reveal .slides > section h6 {
      margin: 0 0 20px 0;
      color: #37444e;
      font-family: OpenSans,HelveticaNeue,Arial,sans-serif;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: normal;
      text-shadow: none;
      word-wrap: break-word; }
    .reveal .slides > section h1 {
      font-size: 2.11em; }
    .reveal .slides > section h2 {
      font-size: 1.55em; }
    .reveal .slides > section h3 {
      font-size: 1em; }
    .reveal .slides > section h4 {
      font-size: 1em; }
    .reveal .slides > section p {
      margin: 20px 0;
      line-height: 1.3; }
    .reveal .slides > section img, .reveal .slides > section video, .reveal .slides > section iframe {
      max-width: 95%;
      max-height: 95%; }
    .reveal .slides > section strong, .reveal .slides > section b {
      font-weight: bold; }
    .reveal .slides > section em {
      font-style: italic; }
    .reveal .slides > section ol, .reveal .slides > section dl, .reveal .slides > section ul {
      display: inline-block;
      text-align: left;
      margin: 0 0 0 1em; }
    .reveal .slides > section ol {
      list-style-type: decimal; }
    .reveal .slides > section ul {
      list-style-type: disc; }
      .reveal .slides > section ul ul {
        list-style-type: square;
        display: block;
        margin-left: 40px; }
        .reveal .slides > section ul ul ul {
          list-style-type: circle; }
      .reveal .slides > section ul ol {
        display: block;
        margin-left: 40px; }
    .reveal .slides > section ol ol, .reveal .slides > section ol ul {
      display: block;
      margin-left: 40px; }
    .reveal .slides > section dt {
      font-weight: bold; }
    .reveal .slides > section dd {
      margin-left: 40px; }
    .reveal .slides > section q {
      quotes: none; }
    .reveal .slides > section blockquote {
      quotes: none;
      display: block;
      position: relative;
      width: 70%;
      margin: 20px auto;
      padding: 5px;
      font-style: italic;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
      .reveal .slides > section blockquote p:first-child, .reveal .slides > section blockquote p:last-child {
        display: inline-block; }
    .reveal .slides > section q {
      font-style: italic; }
    .reveal .slides > section pre {
      display: block;
      position: relative;
      width: 90%;
      margin: 20px auto;
      text-align: left;
      font-size: 0.55em;
      font-family: monospace;
      line-height: 1.2em;
      word-wrap: break-word;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }
    .reveal .slides > section code {
      font-family: monospace; }
    .reveal .slides > section pre code {
      display: block;
      padding: 5px;
      overflow: auto;
      max-height: 400px;
      word-wrap: normal; }
    .reveal .slides > section table {
      margin: auto;
      border-collapse: collapse;
      border-spacing: 0; }
      .reveal .slides > section table th {
        font-weight: bold;
        text-align: left;
        padding: 0.2em 0.5em 0.2em 0.5em;
        border-bottom: 1px solid; }
      .reveal .slides > section table td {
        text-align: left;
        padding: 0.2em 0.5em 0.2em 0.5em;
        border-bottom: 1px solid; }
      .reveal .slides > section table th[align="center"], .reveal .slides > section table td[align="center"] {
        text-align: center; }
      .reveal .slides > section table th[align="right"], .reveal .slides > section table td[align="right"] {
        text-align: right; }
      .reveal .slides > section table tbody tr:last-child th, .reveal .slides > section table tbody tr:last-child td {
        border-bottom: none; }
    .reveal .slides > section sup {
      vertical-align: super; }
    .reveal .slides > section sub {
      vertical-align: sub; }
    .reveal .slides > section small {
      display: inline-block;
      font-size: 0.6em;
      line-height: 1.2em;
      vertical-align: middle; }
      .reveal .slides > section small * {
        vertical-align: middle; }
    .reveal .slides > section a {
      color: #ffb01e;
      text-decoration: none;
      -webkit-transition: color .15s ease;
      -moz-transition: color .15s ease;
      transition: color .15s ease;
      outline: none; }
      .reveal .slides > section a:hover {
        color: #ffb01e;
        text-shadow: none;
        border: none;
        text-decoration: underline; }
    .reveal .slides > section .roll span:after {
      color: #fff;
      background: #564826; }
    .reveal .slides > section section img {
      margin: 15px 0px;
      background: rgba(255, 255, 255, 0.12);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
      .reveal .slides > section section img.plain {
        box-shadow: none; }
    .reveal .slides > section a img {
      -webkit-transition: all .15s linear;
      -moz-transition: all .15s linear;
      transition: all .15s linear; }
    .reveal .slides > section a:hover img {
      background: rgba(255, 255, 255, 0.2);
      border-color: #8b743d;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }
    .reveal .slides > section .controls .navigate-left {
      border-right-color: #8b743d; }
      .reveal .slides > section .controls .navigate-left.enabled {
        border-right-color: #8b743d; }
    .reveal .slides > section .controls .navigate-right {
      border-left-color: #8b743d; }
      .reveal .slides > section .controls .navigate-right.enabled {
        border-left-color: #8b743d; }
    .reveal .slides > section .controls .navigate-up {
      border-bottom-color: #8b743d; }
      .reveal .slides > section .controls .navigate-up.enabled {
        border-bottom-color: #8b743d; }
    .reveal .slides > section .controls .navigate-down {
      border-top-color: #8b743d; }
      .reveal .slides > section .controls .navigate-down.enabled {
        border-top-color: #8b743d; }
    .reveal .slides > section .controls .navigate-left.enabled:hover {
      border-right-color: #c0a86e; }
    .reveal .slides > section .controls .navigate-right.enabled:hover {
      border-left-color: #c0a86e; }
    .reveal .slides > section .controls .navigate-up.enabled:hover {
      border-bottom-color: #c0a86e; }
    .reveal .slides > section .controls .navigate-down.enabled:hover {
      border-top-color: #c0a86e; }
    .reveal .slides > section .progress {
      background: rgba(0, 0, 0, 0.2); }
      .reveal .slides > section .progress span {
        background: #8b743d;
        -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * HEADERS
 ******************************************** */
/*********************************************
 * OTHER
 ******************************************** */
/* Ensure certain elements are never larger than the slide itself */
/*********************************************
 * LINKS
 ******************************************** */
/*********************************************
 * IMAGES
 ******************************************** */
/*********************************************
 * NAVIGATION CONTROLS
 ******************************************** */
/*********************************************
 * PROGRESS BAR
 ******************************************** */
